.chart{
    flex: 3;
    color: #99C499;
    -webkit-box-shadow:2px 4px 10px 1px rgb(201 , 201, 201, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
.title{
    margin: 12px;
}
.chartGrid{
stroke: lightgray;
}

}